{% extends "curdapp/base.html" %}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
{% block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Full Name</td>
            <td>Mobile</td>
            <td>Position</td>
            <td>     <a href="{% url 'emp_insert'  %}">
                    <button  class="btn btn-success"><i class="fas fa-database"></i>Add New</button></a></td>
                      </tr>
    </thead>
    <tbody>
        {% for employee in emp_list %}
            <tr>
                <td>{{employee.fullname}}</td>
                <td>{{employee.mobile}}</td>
                <td>{{employee.position}}</td>
                <td>


                        <a href="{% url 'emp_update' employee.id %}">
                    <button  class="btn btn-success"><i class="fas fa-database"></i>Edit</button></a>
                    <form action="{% url 'emp_delete' employee.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                       <button type="submit" class="btn btn-success">
                            <i class="fas fa-database"></i>Delete
                        </button>


                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}